@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 100;
    src: url('src/fonts/Pretendard-Thin.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 200;
    src: url('src/fonts/Pretendard-ExtraLight.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 300;
    src: url('src/fonts/Pretendard-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    src: url('src/fonts/Pretendard-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    src: url('src/fonts/Pretendard-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    src: url('src/fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    src: url('src/fonts/Pretendard-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 800;
    src: url('src/fonts/Pretendard-ExtraBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 900;
    src: url('src/fonts/Pretendard-Black.woff2') format('woff2');
    font-display: swap;
}

html, body {
    font-family: 'Pretendard', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

:root {
    font-family: 'Pretendard', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}